.marketPage {
  background-image: url("../../Images/market.svg");
  background-size: cover;
  width: 100vw;
  height: 90vh;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.cart {
  position: absolute;
  bottom: 14%;
  left: 1%;
  border-radius: 3px;
  display: flex;
}

@media screen and (min-width: 720px) {
  .cart button {
    width: 80px;
    height: 80px;
  }
}
