.phone {
  margin: auto;
  background-color: white;
  height: 450px;
  width: 400px;
  background-image: url("../../Images/phoneMockUpCopy.svg");
  background-size: 260px 410px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 25%;
}

.phonebutt {
  top: 0px;
  right: 0px;
  width: 40px;
  text-align: center;
  position: absolute;
}

.phone img {
  width: 225px;
  margin-left: 22%;
  margin-top: 13%;
  border-radius: 5%;

}