.phone-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone {
  margin: auto;
  background-color: rgb(241, 248, 137);
  background-image: url("../../Images/phoneMockUpCopy.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.phonebutt {
  top: 0px;
  right: 0px;
  text-align: center;
  position: absolute;
}

.phone img {
  border-radius: 5%;
}

@media screen and (min-width: 320px) {
  .phone {
    height: 450px;
    width: 270px;
    background-size: 230px;
  }

  .phonebutt {
    height: 30px;
    width: 30px;
    font-size: 20px;
  }

  .phone img {
    width: 190px;
    height: 260px;
    margin-top: 65px;
    margin-left: 41px;
  }
}

@media screen and (min-width: 720px) {
  .phone {
    height: 550px;
    width: 400px;
    background-size: 300px;
  }

  .phonebutt {
    height: 40px;
    width: 40px;
    font-size: 25px;
  }

  .phone img {
    width: 260px;
    height: 320px;
    margin-top: 80px;
    margin-left: 70px;
  }
}

@media screen and (min-width: 1024px) {
  .phone {
    height: 650px;
    width: 700px;
    background-size: 400px;
  }

  .phonebutt {
    height: 50px;
    width: 50px;
    font-size: 30px;
  }

  .phone img {
    width: 320px;
    height: 460px;
    margin-top: 45px;
    margin-left: 190px;
  }
}