.stock {
  position: absolute;
  bottom: 21%;
  left: 1%;
  border-radius: 3px;
  display: flex;
}

.supplies {
  font-size: 10px;
}

.stock div {
  color: rgb(116, 116, 116);
  background-color: rgba(255, 255, 255, 0.582);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
}

@media screen and (min-width: 720px) {
  .stock button {
    width: 80px;
    height: 80px;
  }

  .stock div {
    font-size: 16px;
  }

  .stock {
    bottom: 25%;
  }

  .supplies {
    font-size: 18px;
  }
}
