.homePage,
.startPage,
.marketPage {
  height: 90vh;
}

.startPage {
  background-color: rgb(224, 163, 163);
}

.startPage,
.nameForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  height: 50px;
}

.startPage-inputbox input {
  height: 20px;
  width: 120px;
}

@media screen and (min-width: 720px) {
  .startPage-inputbox input {
    height: 25px;
    width: 160px;
    font-size: 18px;
  }
}

.characters {
  display: flex;
  flex-direction: row;
}
