.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(153, 140, 148);
  height: 90vh;
}

.landingPage img {
  width: 180px;
  margin-bottom: 15px;
}

.landingPage .intro {
  color: rgb(255, 255, 255);
}

.landingPage .intro h1 {
  font-size: 16px;
  text-align: center;
  margin-bottom: 5px;
}

.landingPage .intro p {
  line-height: 20px;
  font-size: 14px;
  text-align: center;
}

.introButton {
  margin-top: 20px;
  background-color: rgb(236, 228, 160);
  font-size: 20px;
  width: 90px;
  cursor: pointer;
}

.introButton:hover {
  background-color: rgb(209, 192, 41);
  color: rgb(255, 255, 255);
}

.landingPage .player {
  margin-top: 50px;
  font-size: 18px;
}

@media screen and (min-width: 720px) {
  .landingPage {
    padding-top: 0;
    padding-left: 50px;
    padding-right: 50px;
  }

  .landingPage img {
    width: 350px;
    margin-bottom: 20px;
  }

  .landingPage .intro h1 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .landingPage .intro p {
    line-height: 40px;
    font-size: 18px;
  }

  .introButton {
    margin-top: 60px;
    font-size: 26px;
    width: 130px;
    padding: 5px;
  }
}

@media screen and (min-width: 1000px) {
  .landingPage {
    padding-left: 120px;
    padding-right: 120px;
  }

  .landingPage img {
    width: 320px;
  }

  .landingPage .intro p {
    line-height: 35px;
  }

  .introButton {
    margin-top: 10px;
  }
}
