.TV{
    display: flex;
    position: fixed;
    border: 1px solid black;
    margin: auto;
    top: 25%;
    width:50%;
    height: 60%;
   
    
}
.TV-container{
    background-image: url(../../Images/TV.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
}