.TV{
    display: flex;
    position: fixed;
    border: 1px solid black;
    background-color: black;
    top: 20%;
    width:50%;
    height: 50%;
}
.TV-container{
    position: absolute;
    width: 90%;
    height: 90%;
    margin-left: 4.5%;
    margin-top: 1.25%;
    justify-content: center;
    border: 1px solid black;
    background-image: url("https://media.giphy.com/media/GHwrLbFBwg9Gg/giphy.gif");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: grey;
    z-index: 4;
}
.tv-button{
    position: absolute;
    width: 100px;
    height: 50px;
    bottom: 20%;
}
