* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body,
#root,
.App,
main {
  height: 100vh;
}

/* button {
  font-size: 30px;
} */

.landingpage,
.startpage {
  height: 90vh;
}
