.gamePage {
  background-image: url("../../Images/home.svg");
  background-size: cover;
  width: 100vw;
  height: 90vh;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.gameSetting {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.gameSetting .top {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 60px;
}

#first {
  position: absolute;
  bottom: 28%;
  left: 1%;
  border-radius: 3px;
}

#second {
  position: absolute;
  bottom: 35%;
  left: 1%;
  border-radius: 3px;
}

@media screen and (min-width: 720px) {
  .gameSetting .top {
    height: 80px;
  }

  #first {
    position: absolute;
    bottom: 38%;
    left: 1%;
    border-radius: 3px;
    height: 80px;
    width: 80px;
  }

  #second {
    position: absolute;
    bottom: 51%;
    left: 1%;
    border-radius: 3px;
    height: 80px;
    width: 80px;
  }
}
