.feedback {
  background-color: rgb(153, 140, 148);
  border: 3px solid rgb(99, 89, 95);
  color: rgb(255, 255, 255);
  position: absolute;
  padding: 20px;
}

.feedbackButt {
  top: 0px;
  right: 0px;
  text-align: center;
  position: absolute;
}

.feedback p {
  text-align: center;
}

.feedbackText {
  margin-bottom: 20px;
}

@media screen and (min-width: 320px) {
  .feedback {
    top: 200px;
  }

  .feedbackButt {
    width: 40px;
    height: 30px;
  }
}

@media screen and (min-width: 720px) {
  .feedback {
    border: 3px solid rgb(158, 158, 158);
    width: 600px;
    height: 100px;
    padding-top: 25px;
  }

  .feedbackButt {
    width: 35px;
    height: 25px;
  }
}
