.feedTreatGame {
  height: 90vh;
  width: 100%;
}

.grassField {
  position: absolute;
  left: 15%;
  top: 20%;
  width: 70vw;
  height: 45vh;
  border: 5px solid rgb(153, 140, 148);
  background-color: rgb(157, 235, 157);
}

.catLength {
  position: absolute;
  width: 6%;
  height: 6%;
  background-color: rgb(83, 71, 65);
  border: 1px solid white;
  z-index: 2;
}

.catTreat {
  position: absolute;
  width: 6%;
  height: 6%;
  z-index: 1;
}

@media screen and (min-width: 720px) {
  .grassField {
    left: 35%;
    width: 30vw;
    height: 50vh;
  }
}
