.curveball {
  padding: 20px;
  margin: auto;
  background-color: rgb(153, 140, 148);
  border: 3px solid rgb(99, 89, 95);
  color: rgb(255, 255, 255);
  width: 75%;
  flex-direction: column;
  justify-content: space-evenly;
}

.curveball h2 {
  text-align: center;
  font-size: 14px;
}

.curveballButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px;
}

@media screen and (min-width: 720px) {
  .curveball {
    border: 3px solid rgb(158, 158, 158);
  }

  .curveball h2 {
    font-size: 20px;
  }
}
