#left-hand {
  background-image: url("../../Images/left-hand.svg");
  width: 50px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

#right-hand {
  background-image: url("../../Images/right-hand.svg");
  width: 50px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.rotateRight {
  transform: rotate(35deg);
  transition: .25s;
}

.rotateLeft {
  transform: rotate(-35deg);
  transition: .25s;
}

.hands {
  display: flex;
  flex-direction: row;
  margin: 20px;
  position: absolute;
  top: 20%;
  left: 35%;
}

.wash-button, .ready-button {
  position: absolute;
  bottom: 30%;
  left: 35%;
  width: 30vw;
  height: 30px;
}

@media screen and (min-width: 720px) {
  #left-hand {
    background-image: url("../../Images/left-hand.svg");
    width: 75px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
  }
  
  #right-hand {
    background-image: url("../../Images/right-hand.svg");
    width: 75px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
  }

  .hands {
    top: 42%;
    left: 45%;
  }

  .wash-button, .ready-button {
    bottom: 20%;
    left: 45%;
    width: 150px;
  }
}