#left-hand {
  background-image: url("../../Images/left-hand.svg");
  width: 75px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

#right-hand {
  background-image: url("../../Images/right-hand.svg");
  width: 75px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.rotateRight {
  transform: rotate(35deg);
  transition: .25s;
}

.rotateLeft {
  transform: rotate(-35deg);
  transition: .25s;
}

.hands {
  display: flex;
  flex-direction: row;
  margin: 20px;
  width: 100%;
  position: absolute;
  top: 38%;
  left: 42%
}

.wash-button {
  position: absolute;
  bottom: 20%;
  left: 43%;
}